

body {
  padding: 0;
  margin: 0;
  background: #F7F7F7;
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #F7F7F7 , #EAE0D5 );
}

/** Header styles **/
.header {
  background-image:url(https://yt3.ggpht.com/RF56-Elv1ynlrfoIBXhf_xl-svqAFVMvFiFpfAx2qENtIaoFqHWWByfy8K5ayUThRrV2yzSRyw=s600-c-k-c0x00ffffff-no-rj-rp-mo);
  height: 80rem;
  width: 200%;
  
  background-position:  center;
  background-size: cover;
  
  
}








  





